@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import "tailwindcss";


body {
  background-color: #EFE7FDB0;
}

.font-libre {
  font-family: "Libre Baskerville", serif;
}

.font-forum{
    font-family: "Forum", serif;
}
